@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Poppins:wght@200;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  max-width: 100%;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color:#EFF5F5;
  font-size: 1rem;
}

header{
  height: 30px;
  position: sticky;
  top:0%;
  z-index: 1;
  margin-bottom: auto;
}

.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  background-color: #EFF5F5;
  height:100%;
}

.menu a {
  text-decoration: none;
  padding: 5px;
  color:#181823;
  text-align: center;
}

.menu a:hover {
  color: #FC7300;
}

.portada{
  position: relative;
}

.portada__imagen{
  opacity: 0.6;
  height: 80vw;
  width: 100%;
  box-shadow: 0px 0px 20px 0px #00425A;
}

.logo{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  font-family: 'Belanosima', sans-serif;
  font-size: 5.4rem;
  text-decoration: underline solid;
}
h2{
  font-family: 'Belanosima', sans-serif;
  font-size: 4.8rem;
  margin-bottom: 20px;
}

h3{
  font-family: 'Belanosima', sans-serif;
  font-size: 2.5rem;
  color: #EFF5F5;
}

hr{
  border: #FC7300 solid 2px;
  background-color: #FC7300;
  height: 2px;
  width: 50%;
  margin:40px auto 40px auto;
}


.somos, .elegirnos, .articulos{
  display: flex;
  flex-flow: row wrap;
  gap:10%;
  padding: 6px;
}

.somos__items, .elegirnos__items, .articulo__items{
  width:40%;
}
.somos__imagen, .elegirnos__imagen{
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 20px 0px #00425A;
}
.somos__texto, .elegirnos__texto, .articulo__texto{
  text-align: justify;
  width: 100%;
}

.propuesta{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.propuesta__items{
  width: 250px;
  height: 250px;
  text-align: center;
}

.propuesta__img{
  width: 200px;
  height: 200px;
  border-radius: 150%;
  box-shadow: 0px 0px 20px 0px #1F8A70;
}

.propuesta__texto{
  margin-top: 15px;
}

.articulo__titulo{
  margin-bottom: 20px;
  color: #181823;
}

footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  background-color: #00425A;
 }

 iframe{
  width: 200px;
  height: 200px;
}

.footer__items p, p a{
  text-decoration: none;
  color:#EFF5F5;
  padding: 25px;
}

@media screen and (max-width:768px){

  header{
    position: relative;
    height: 220px;
  } 
  
  .menu{
    display: flex;
    flex-flow: column wrap;
    background-color: #EFF5F5;
    margin-bottom: auto;
  }
  
  h1{
    font-size: 3rem;
  }
  
  h2{
    font-size: 2rem;
  }
  
  h3{
    font-size: 1.5rem;
  }
  
  .somos, .elegirnos, .propuesta, .articulos{
    display: flex;
    flex-flow: column wrap;
    gap:2px;
    padding: 5px;
  }
  .somos__items, .elegirnos__items, .articulo__items, .menu__items{
    width:100%;
  }
  .propuesta__items{
    margin-left: auto;
    margin-right: auto;
  }
  
  iframe{
    width: 200px;
    height: 50%;
  }
  
  footer{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: #00425A;
  }
  }
  @media screen and (max-width:320px) {
  
  header{
    position: relative;
    height: 220px;
  } 
  
  body{
    font-size: 0.7rem;
  }
   
  .menu{
    display: flex;
    flex-flow: column wrap;
    background-color: #EFF5F5;
    margin-bottom: auto;
  }
  
  h1{
    font-size: 2rem;
  }
  
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.2rem;
  }
  
  .somos, .elegirnos, .propuesta, .articulos{
    display: flex;
    flex-flow: column wrap;
    gap:2px;
    padding: 5px;
  }
  .somos__items, .elegirnos__items, .articulo__items, .menu__items{
    width:100%;
  }
  .propuesta__items{
    margin-left: auto;
    margin-right: auto;
  }
  
  iframe{
    width: 200px;
  }
  
  footer{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: #00425A;
  }
  }